:root {
  --ruler: 8px;
  --width: 50%;
  --font-color: #7a7b83;
  --color-main: #ebecf0;
  --color-shadow: #b9bdcb;
  --color-white: #ffffff;
  --color-red: #ae1100;
  --color-green: #0eae00;
}

body, div, h1, h2, p, a, table, tr, th, td, textarea {
  font-size: calc(var(--ruler) * 2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: var(--color-main);
}

.header {
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  width: var(--width);
  margin: calc(var(--ruler) * 3) auto;
  text-shadow: 1px 1px 1px var(--color-white);
}

h1 {
  font-size: calc(var(--ruler) * 4);
}

.btn_top {
  width: 8rem;
  height: calc(var(--ruler) * 5);
}

.btn_top a {
  color: var(--font-color);
  display: block;
  width: 100%;
  line-height: calc(var(--ruler) * 5);
  border-radius: calc(var(--ruler) * 2);
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--color-white);
  cursor: pointer;
}

.btn_top a:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}

.btn_top a:active {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

.day_data {
  color: var(--font-color);
  display: flex;
  width: var(--width);
  margin: 0 auto calc(var(--ruler) * 3);
  text-shadow: 1px 1px 1px var(--color-white);
}

.date {
  font-size: calc(var(--ruler) * 3);
  margin-right: calc(var(--ruler) * 5);
}

.holiday {
  font-size: calc(var(--ruler) * 2.5);
  line-height: calc(var(--ruler) * 4.5);
}

.err_msg {
  color: var(--color-red);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--color-white);
  width: var(--width);
  margin: 0 auto calc(var(--ruler) * 3);
  padding: var(--ruler);
  border: 1px solid var(--color-red);
  border-radius: calc(var(--ruler) * 2);
}

.cmp_msg {
  color: var(--color-green);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--color-white);
  width: var(--width);
  margin: 0 auto calc(var(--ruler) * 3);
  padding: var(--ruler);
  border: 1px solid var(--color-green);
  border-radius: calc(var(--ruler) * 2);
}

textarea {
  color: var(--font-color);
  font-weight: bold;
  background-color: var(--color-main);
  display: block;
  width: var(--width);
  height: calc(var(--ruler) * 25);
  margin: 0 auto 24px;
  padding: 10px;
  text-shadow: 1px 1px 1px var(--color-white);
  border: none;
  border-radius: calc(var(--ruler) * 2);
  box-shadow:  inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px var(--color-white);
  resize: none;
  outline: none;
}

textarea:focus {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

form div {
  display: flex;
  width: var(--width);
  margin: 0 auto;
}

button {
  font-size: calc(var(--ruler) * 2.5);
  width: 6rem;
  height: calc(var(--ruler) * 5);
  border: none;
  border-radius: calc(var(--ruler) * 2);
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  text-shadow: 1px 1px 1px var(--color-white);
  outline: none;
  cursor: pointer;
}

.btn_entry {
  color: var(--font-color);
}

.btn_update {
  color: var(--font-color);
  margin-right: calc(var(--ruler) * 3);
}

.btn_delete {
  color: var(--color-red);
}

button:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}

button:active {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}