:root {
  --ruler: 8px;
  --font-color: #7a7b83;
  --color-main: #ebecf0;
  --color-shadow: #b9bdcb;
  --color-white: #ffffff;
  --color-red: #ae1100;
  --color-blue: #0011ae;
}

body, div, p, a, table, tr, th, td {
  font-size: calc(var(--ruler) * 2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: var(--color-main);
}

.link_list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: calc(var(--ruler) * 3) auto;
}

.link_list p {
  width: 6rem;
  height: calc(var(--ruler) * 4);
}

.link_list a {
  color: var(--font-color);
  display: block;
  width: 100%;
  line-height: calc(var(--ruler) * 4);
  border-radius: calc(var(--ruler) * 2);
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--color-white);
  cursor: pointer;
}

.link_list a:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}

.link_list a:active {
  box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
}

table, tr {
  width: 80%;
  text-shadow: 1px 1px 1px var(--color-white);
  color: var(--font-color);
}

table {
  margin: 0 auto;
  border-radius: calc(var(--ruler) * 2);
  border-spacing: 10px;
  box-shadow: -5px -5px 20px var(--color-white),  5px 5px 20px var(--color-shadow);
  text-align: center;
}

.thead th {
  font-size: 2rem;
}

td {
  font-weight: bold;
  width: calc(100% / 7);
  height: calc(var(--ruler) * 8);
}

td a {
  color: var(--font-color);
  display: block;
  width: 100%;
  height: calc(var(--ruler) * 8);
  padding: calc(var(--ruler) * .5) calc(var(--ruler) * 1.5) 0;
  border-radius: calc(var(--ruler) * 2);
  box-shadow: inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px var(--color-white);
  text-decoration: none;
  cursor: pointer;
}

.sun, .hol, .sun a, .hol a {
  color: var(--color-red);
}

.sat, .sat a {
  color: var(--color-blue);
}

td .td_1st_line {
  display: flex;
  justify-content: space-between;
  height: calc(var(--ruler) * 4);
}

td .day {
  font-size: calc(var(--ruler) * 2.5);
}

td .holiday {
  color: var(--font-color);
  font-size: var(--ruler);
}

td .sch_flg {
  color: var(--font-color);
  text-align: right;
  height: calc(var(--ruler) * 4);
}

td a:hover {
  box-shadow: inset 5px 5px 10px var(--color-shadow), inset -8px -8px 10px var(--color-white);
}

td a:hover .td_inner {
  transform: scale(0.95);
}